# Backend
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/space_platform?schema=public
PORT=8000

JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api